<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Aguidetoclassmobility : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/LynnCo/AGuideToClassMobility">View on GitHub</a>

          <h1 id="project_title">A Guide To Class Mobility</h1>
          <h2 id="project_tagline"></h2>
          <nav>
            <a href="/common-pitfalls">Common Pitfalls</a>
            <a href="/getting-money-for-your-work">Getting Paid for Your Work</a>
            <a href="/mentor-acquisition">Getting a Mentor</a>
            <a href="/personal-stories">Personal Stories</a>
            <a href="/plugging-into-the-tech-community">Plugging in to the Tech
              Community</a>
            <a href="/structured-education">Structured Education</a>
            <a href="/syncing-programming-with-your-interests">Syncing
              Programming With Your Interests</a>
            <a href="/working-on-projects">Working on Projects</a>
          </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">A Guide To Class Mobility maintained by <a href="https://github.com/LynnCo">LynnCo</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
