---
layout: base
---
{{ content }}

<h3>Related Posts</h3>
<ul id="related-posts">
{% for other_post in site.posts %}
  {% assign related = false %}

  {% for tag in other_post.tags %}{% if page.tags contains tag %}
    {% assign related = true %}
  {% endif %}{% endfor %}

  {% if related %}
    <li><a href="{{ site.baseurl }}{{ other_post.url }}">{{ other_post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'agfcm';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
